* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.Webcontainer {
    display: flex;
    flex-direction: column;
}

.Topmenu {
    height: 15vh;
    background-color: #cde8e5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 0px;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-family: monospace;
    text-align: left;
    padding-left: 5%;
    position: fixed;
    font-family: "Bruno Ace", sans-serif;
}

.Head {
    color: rgb(0, 0, 0);
    font-size: 3em;
    font-family: monospace;
    text-align: left;
    padding-left: 2%;
    font-family: "Bruno Ace", sans-serif;

}

.returnbutton {
    background-color: rgb(88, 193, 235);
    border: 1px solid transparent;
    text-align: center;
    color: #ffffff;
    border-radius: 11px;
    padding-top: 25px;
    margin-right: 10px;
    width: 120px;
    height: 80px;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
}

.topbutton {
    display: flex;
    flex-direction: row;
}

.aboutus {
    color: #000000;
    text-decoration: underline;
    font-family: "Kanit", sans-serif;
    padding-top: 25px;
    margin-right: 50px;
}

.Content {
    background-color: #c9c9c9;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    width: 100%;
    margin-top: 7%;
}

.Content-Container {
    display: flex;
    flex-direction: column;
    margin-left: 35vh;
}

/*navigation bar */

.nav-container {
    width: 350px;
    background-color: #CDE8E5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top : 15%;
    z-index: 1;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #dcdcdf;
}

.nav-item {
    border-bottom: 1px solid #919191;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 20px;
}

.nav-item2 {
    border-bottom: 1px solid #919191;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 20px;
}

.nav-subitem {
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #191c4e;
    cursor: pointer;
    transition: background-color 0.3s;
    padding-top: 0;
    margin-top: 0;
    background-color: #ffffff;
}

.nav-subitem:hover {
    background-color: #9cc9e7;
}

.sidebartext {
    color: #2c3e50;
    font-size: 26px;
    font-family: "Kanit", sans-serif;
    text-decoration: none;
    padding-left: 30px;
}

.nav-item:last-child {
    border-bottom: none;
}

.nav-item:hover {
    background-color: #60a2e0;
}

.nav-item.active {
    background-color: #3d566e;
    color: #1abc9c;
}

.scroll-containersidebar {
    height: 825px;
    overflow-y: scroll;
}

.scroll-container::-webkit-scrollbar {
    width: 12px;
}

.scroll-container::-webkit-scrollbar-track {
    background: #8d85dd;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #3f34e2;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scroll-container::-webkit-scrollbar-button {
    display: none;
}


/* slide dropdown */
.slide {
    clear: both;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
    border-bottom: 1px solid #d3d3d3;
  }

  .slide li {
    padding-top : 3px;
}

  span {
    padding : 0;
    margin: 0;
    font-variant : small-caps;
    cursor : pointer;
  }
  
  span::after {
    float: right;
  }

.subdropdownmenu {
    font-family: "Kanit", sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #2a2d41;
    padding-left: 60px;
}

#touch { /*แนะนำ CSS */
    position: absolute;
    opacity: 0; 
    height: 0px;
    padding: 0px;
    margin: 0px;
}

#touch2 { /*หลักการเขียน CSS */
    position: absolute;
    opacity: 0; 
    height: 0px;
    padding: 0px;
    margin: 0px;
}

#touch3 { /*หลักการเขียน CSS */
    position: absolute;
    opacity: 0; 
    height: 0px;
    padding: 0px;
    margin: 0px;
}





#touch:checked + .slide {height: 13vh;}
#touch2:checked + .slide {height: 44vh;}
#touch3:checked + .slide {height: 45vh;}


/*footer*/
.bottombar {
    background-color: #CDE8E5;
    height: 150px;
    font-family: "Bruno Ace", sans-serif;
    margin-left: 0px;
    padding-left: 5%;
    padding-top: 3%;
    margin: 0;
    bottom: 0;
    width: 100%;
    
}

/*Text Decoration*/

.scroll-containercontent {
    height: 100%;
    overflow-y: scroll;
}

h2 {
    color: #2c3e50;
    font-size: 48px;
    padding-left: 20px;
}
p {
    color: #2c3e50;
    font-size: 24px;
    padding-left: 40px;
}

.p-header {
    color: #2c3e50;
    font-size: 28px;
    padding-left: 30px;
}

.content-section {
    background-color: #ffffff;
    color: #2c3e50;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Kanit", sans-serif;
    width: 100%;
}

/*jump to section adjust */
#CSSintro {
    padding-top: 120px; /* ระยะห่างจากด้านบนที่พอเหมาะ */
    margin-top: -120px; /* ค่าลบเท่ากับ padding */
}

#CSSHistory {
    padding-top: 120px; 
    margin-top: -120px;
}

#Good-Bad {
    padding-top: 120px; 
    margin-top: -120px; 
}

 #Main1 , #Main2 , #Main3 , #Main4 , #Main5 , #Main6 , #Main7 , #Main8 , #Main9 , #Main10 {   /* เพิ่มให้ถึง  main10 */
    padding-top: 120px; 
    margin-top: -120px; 
}

/* code box format*/
.code-box {
    background-color: #e9ecef;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    box-shadow: 2px 2px #a3a3a3;
}

.code-box h2 {
    margin-top: 0;
    font-size: 28px;
    color: #2c3e50;
    padding-left: 0;
}

pre {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    border-left: 5px solid #080746;
    overflow-x: auto;
}

code {
    font-family: "Kanit", sans-serif;
    color: #131522;
    white-space: pre;
}

/* Second Sidebar for phone */
/* Second Sidebar for phone */
/* Second Sidebar for phone */
/* Second Sidebar for phone */


.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 40vh;
    background: #5cc0aa;
    z-index: 100;
    transition: all 0.5s ease;
  }
  .sidebar.close{
    width: 8vh;
  }
  .sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .sidebar .logo-details i{
    font-size: 30px;
    color: #fff;
    height: 2vh;
    min-width: 4vh;
    text-align: center;
    margin-left: 1.5vh;
  }
  .sidebar .logo-details .logo_name{
    font-size: 2rem;
    padding-top: 2vh;
    padding-left: 2vh;
    font-family: "Kanit", sans-serif;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
  }
  .sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
    font-family: "Kanit", sans-serif;
  }
  .sidebar.close .nav-links{
    overflow: visible;
  }
  .sidebar .nav-links::-webkit-scrollbar{
    display: none;
  }
  .sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li:hover{
    background: #1d1b31;
  }
  .sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar.close .nav-links li .iocn-link{
    display: block
  }
  .sidebar .nav-links li i{
    height: 8vh;
    min-width: 8vh;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
  }
  .sidebar.close .nav-links i.arrow{
    display: none;
  }
  .sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
  }
  .sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
  }
  .sidebar .nav-links li.showMenu .sub-menu{
    display: block;
  }
  .sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
  }
  .sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li .sub-menu .link_name{
    display: none;
  }
  .sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
  }
  .sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
  }
  

  .MainSideBartext {
    text-decoration: none;
    color: white;
  }
  .one {
    visibility: collapse;
    width: 80%;
    margin-left: 10%;
    background-color: black;
    height: 400px;
  }
  
  .sidebar .profile-details{
    position: fixed;
    bottom: 0;
    width: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 0;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
  }
  .sidebar .profile-details img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0;
    background: #1d1b31;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details img{
    padding: 10px;
  }
  .sidebar .profile-details .profile_name,
  .sidebar .profile-details .job{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
  }
  .sidebar.close .profile-details i,
  .sidebar.close .profile-details .profile_name,
  .sidebar.close .profile-details .job{
    display: none;
  }
  .sidebar .profile-details .job{
    font-size: 12px;
  }
  .home-section{
    position: relative;
    height: 100vh;
    left: 36vh;
    width: calc(100% - 36vh);
    transition: all 0.5s ease;
  }
  .sidebar.close ~ .home-section{
    left: 10vh;
    width: calc(100% - 10vh);
  }
  .home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
  }
  .home-section .home-content .bx-menu,
  .home-section .home-content .text{
    color: #11101d;
    font-size: 35px;
  }
  .home-section .home-content .bx-menu{
    margin: 0;
    cursor: pointer;
  }
  .home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
  }
  @media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu{
      display: none;
    }
  }


@media screen 
    and (max-width: 1920px) 
    and (min-width: 1280px) {
   .sidebar {
      visibility: collapse;
      display: none;
   }

   .home-section{
    visibility: collapse;
    display: none;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Content {
    background-color: #c9c9c9;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-top: 0;
    max-width: 100%;
}

.content-section {
    background-color: #ffffff;
    color: #2c3e50;
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Kanit", sans-serif;
    width: 100%;
    left: 0;
}

.Content-Container {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    margin-left: 16%;
    left: 0;
    width: 100%;
    padding-left: 4.5vh;
}

.bottombar {
    background-color: #CDE8E5;
    height: 25vh;
    font-family: "Bruno Ace", sans-serif;
    padding-left: 6vh;
    bottom: 0;
    max-width: 100%;
    font-size: 0.2rem;
}

}

/* Normal Phone Layout */
/* Normal Phone Layout */
/* Normal Phone Layout */
/* Normal Phone Layout */
/* Normal Phone Layout */

@media screen 
    and (max-width: 600px)
    and (min-width: 370px) 
    {
        
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .sidebar.close {
        width: 15%;
      }
        .Topmenu {
            display: none;
            visibility: collapse;
        }
    .nav-container {
        visibility: hidden;
        display: none;
    }

    .Content {
        background-color: #c9c9c9;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        margin-top: 0;
        max-width: 100%;
    }

    .content-section {
        background-color: #ffffff;
        color: #2c3e50;
        padding-top: 20px;
        padding-right: 0;
        padding-bottom: 0;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: "Kanit", sans-serif;
        width: 100%;
        left: 0;
    }
    
    .Content-Container {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-left: 8%;
        left: 0;
        max-width: 94%;
        padding-left: 3vh;
    }

    .bottombar {
        background-color: #CDE8E5;
        height: 25vh;
        font-family: "Bruno Ace", sans-serif;
        padding-left: 6vh;
        bottom: 0;
        max-width: 100%;
        font-size: 0.2rem;
    }

    .lastfooter {
        font-size: 1.2rem;
        padding-left: 0.5%;
        margin-bottom: 1vh;
    }

    .lastfooterLink {
        font-size: 0.6rem;
        padding-left: 0.5%;
        margin-top: 1vh;
    }

    p {
        font-size: 1.4rem;
    }
    h2 {
        color: #2c3e50;
        font-size: 2rem;
        padding-left: 3vh;
    }
    p {
        color: #2c3e50;
        font-size: 1.1rem;
        padding-left: 4vh;
    }
    
    .p-header {
        color: #2c3e50;
        font-size: 1.3rem;
        padding-left: 6vh;
    }

    .code-box {
        background-color: #e9ecef;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 5vh;
        max-width: 100%;
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-left: 5vh;
        box-shadow: 2px 2px #a3a3a3;
    }
    
    .code-box h2 {
        margin-top: 0;
        font-size: 1.2rem;
        color: #2c3e50;
        padding-left: 0;
    }
    
    pre {
        background-color: #fff;
        border-radius: 4px;
        padding: 20px;
        border-left: 5px solid #080746;
        overflow-x: auto;
    }
    
    code {
        font-family: "Kanit", sans-serif;
        color: #131522;
        white-space: pre;
    }

    /* For different page */
    /* For different page */
    /* .Content-Containerpage1 {
        mar
    }

    .content-sectionpage1 {

    } */
}

/* for ipad */
/* for ipad */
/* for ipad */
/* for ipad */
@media screen 
    and (max-width: 1370px)
    and (min-width: 760px)
    {

    .home-content {
        display: none;
        visibility: collapse;
    }

   .sidebar {
      visibility: collapse;
      display: none;
   }

   .home-section{
    visibility: collapse;
    display: none;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Content {
    background-color: #c9c9c9;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-top: 0;
    max-width: 100%;
}

#touch:checked + .slide {height: 15vh;}
#touch2:checked + .slide {height: 45vh;}
#touch3:checked + .slide {height: 45vh;}

.content-section {
    background-color: #ffffff;
    color: #2c3e50;
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Kanit", sans-serif;
    width: 100%;
    left: 0;
}

.Content-Container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: 35%;
    margin-top: 14.5vh;
    padding-left: 0vh;
}

.bottombar {
    background-color: #CDE8E5;
    height: 25vh;
    font-family: "Bruno Ace", sans-serif;
    padding-left: 2vh;
    bottom: 0;
    max-width: 100%;
    font-size: 0.2rem;
}

.lastfooter {
    font-size: 1.2rem;
    padding-left: 0.5%;
    margin-bottom: 1vh;
}

.lastfooterLink {
    font-size: 0.8rem;
    padding-left: 0.5%;
    margin-top: 1vh;
}

.scroll-containersidebar {
    height: 90vh;
    overflow-y: scroll;
}

.nav-container {
  width: 35%;
  background-color: #CDE8E5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top : 15%;
  z-index: 1;
}

    

    /* For different page */
    /* For different page */
    /* .Content-Containerpage1 {
        mar
    }

    .content-sectionpage1 {

    } */
}