* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Head {
    color: rgb(0, 0, 0);
    font-size: 3em;
    font-family: monospace;
    text-align: left;
    padding-left: 5%;
    font-family: "Bruno Ace", sans-serif;

}

p {
    width: 900;
}



.Webcontainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.Topmenu {
    height: 100%;
    background-color: #cde8e5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 0px;
    width: 100%;
}

.mainbuttongroup {
    position: absolute;
    box-sizing: border-box;
    bottom: 45%;
    left: 10%;
    font-size: 1.4rem;
}

.image-content{
    position: absolute;
    left: 60%;
    top: 35%;
}
.indexpic {
    width: 700px;
    height: 400px;
}
.bottombar {
    background-color: #d3f1f1;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: auto; /* Pushes the footer to the bottom */
    position: relative;
}

.Content {
    background-color: #ffffff; 
    display: flex;
    flex-direction: row;
    color: black;
    font-family: "Kanit", sans-serif;
    text-align: left;
    font-size: 26px;
    padding-left: 10%;
    padding-top: 5%;
    margin-top: 2%;
    position: relative;
    box-sizing: border-box;
    height: 60vh;
}

@media screen 
  and (max-width: 370px) {
    .mainbuttongroup {
      position: relative;
      margin-top: 10%;
      width: 90%;
      left: 0;
      margin-left: 10%;
      margin-right: 0;
      flex-grow: 1;
      font-size: .8rem;
    }
  }


@media screen 
      and (max-width: 450px) 
      and (min-width: 360px) 
      {

  html {
    max-height: 100%;
    margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

    .Topmenu {
      width: 100%;
    }
    .Content {
      flex: 1;  
      display: flex;
        
        flex-direction: row;
        max-width: 100%;
        padding-left: 5%;
        min-height: 30vh;
        font-size: 1.3rem;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    .image-content{
        position: relative;
        left: 0%;
        flex-grow: 1;
        margin-top: 8%;
        margin-bottom: 2%;
        height: auto;
    }
    .indexpic {
        display: block;
        width: 50%;
        height: auto;
        position: relative;
        margin-left: 25%;
    }
    .bottombar{
        width: 100%;
        padding-left: 1%;
        padding-bottom: 10%;
        margin-top: auto;
        position: relative;
        bottom: 0;
    }

    p {
        width: 100%;
    }

    .mainbuttongroup {
      position: relative;
      margin-top: 10%;
      width: 90%;
      left: 0;
      margin-left: 8%;
      margin-right: 0;
      flex-grow: 1;
    }

}
@media only screen and (max-width: 1920px) {
    .Content{
       display: flex;
       flex-direction: column;
    }
} 

@media screen 
  and (max-width: 1050px)
  and (min-width: 460px)
  {
  html {
    max-height: 100%;
    margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

    .Topmenu {
      width: 100%;
    }
    .Content {
        flex: 1;  
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding-left: 5%;
        min-height: 30vh;
        font-size: 2rem;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    .image-content{
        position: relative;
        left: 0%;
        flex-grow: 1;
        margin-top: 8%;
        margin-bottom: 2%;
        height: auto;
    }
    .indexpic {
        display: block;
        width: 50%;
        height: auto;
        position: relative;
        margin-left: 25%;
    }
    .bottombar{
        width: 100%;
        padding-left: 5%;
        padding-bottom: 10%;
        margin-top: auto;
        position: relative;
        bottom: 0;
    }

    p {
        width: 100%;
    }

    .mainbuttongroup {
      position: relative;
      margin-top: 10%;
      width: 50%;
      left: 0;
      margin-left: 30%;
      margin-right: 0;
      flex-grow: 1;
    }
}
    


.ContentButtonGroup {
    /* background-color: rgb(87, 87, 150); */
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 120px;
    margin-bottom: 100px;
}

.box {
    width: 20px;
    height: 20px;
    background-color: blue;
}

.Start {
    background-color: rgb(0, 0, 0);
    border: 1px solid transparent;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 11px;
    padding: 30px 30px 30px 30px;
    margin-right: 50px;
    justify-content: space-between;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
}

.Start2 {
    background-color: rgb(88, 193, 235);
    border: 1px solid transparent;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 11px;
    padding: 20px 20px 20px 20px;
    margin-right: 25px;
    justify-content: space-between;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
}

.Quizbutton {
    /* background-color: rgb(88, 193, 235); */
    border: 1px solid transparent;
    text-align: center;
    color: #ffffff;
    padding-top: 15px;
    border-radius: 11px;
    width: 120px;
    height: 80px;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
}


          /* Aboutus page */
          /* Aboutus page */
          /* Aboutus page */
          /* Aboutus page */
          /* Aboutus page */
          /* Aboutus page */
.maincontainer {
  width: 100%;
  padding: 0;
  margin-top: 2%;
}

.Textmain {
  font-family: "Kanit", sans-serif;
  font-size: 3rem;
  padding-left: 44%;
}

.imggroup {
  padding-right: 0;
}

.picturegroup {
  display: flex;
  flex-direction: row;
  padding-left: 18%;
}

.group1 {
  flex-direction: column;
  margin-right: 5%;
}

.group2 {
  flex-direction: column;
  margin-right: 5%;
}

.group3 {
  flex-direction: column;
  margin-right: 5%;
}

.detailtext1 {
  font-family: "Kanit", sans-serif;
  margin-top: 1.5%;
  margin-bottom: 4%;
  font-size: 1.5rem;
  position: relative;
  background-color: rgb(214, 208, 208);
  width: 100%;
}

.detailtext2 {
  font-family: "Kanit", sans-serif;
  margin-top: 1.5%;
  margin-bottom: 4%;
  font-size: 1.5rem;
  position: relative;
  background-color: rgb(214, 208, 208);
  width: 100%;
}

.detailtext3 {
  font-family: "Kanit", sans-serif;
  margin-top: 1.5%;
  margin-bottom: 4%;
  font-size: 1.5rem;
  position: relative;
  background-color: rgb(214, 208, 208);
  width: 100%;
}

/*about us*/
@media (max-width: 450px) {
   

  .maincontainer {
      display: flex;
      flex-direction: column;
      max-width: 100%;
  }

  .Topmenu {
    width: 100%;
  }
    .detailtext1 {
      background-color: white;
      margin-left: 3%;
    }
    
    .detailtext2 {
      background-color: white;
    }
    .detailtext3 {
      background-color: white;
    }
  .imggroup {
    margin-left: 1%;
  }

  .picturegroup {
    display: flex;
    flex-direction: column;
    padding-left: 1%;
  }

  .Textmain {
     padding-left: 20%;
  }

  .picturegroup {
    margin-left: 2%;
  }

  .Topmenu {
    width: 100%;
  }
}

@media screen 
    and (max-width: 1050px)
    and (min-width: 500px) {
    .picturegroup {
      padding-left: 1%;
      display: flex;
      flex-direction: column;
    }

    .Textmain {
      padding-left: 40%;
    }

    .imggroup {
      padding-left: 35%;
    }

    .detailtext1 {
      background-color: rgb(141, 22, 22);
      margin-left: 35%;
      width: 37%;
    }
    
    .detailtext2 {
      background-color: rgb(179, 19, 19);
      margin-left: 35%;
      width: 37%;
    }
    .detailtext3 {
      background-color: white;
      margin-left: 35%;
      width: 37%;
    }
}