* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Head {
    color: rgb(0, 0, 0);
    font-size: 3em;
    font-family: monospace;
    text-align: left;
    padding-left: 5%;
    font-family: "Bruno Ace", sans-serif;

}

p {
    width: 900;
}



.Webcontainer {
/*     display: flex;
    flex-direction: column; */
    flex: 1;
}

.Topmenu {
    height: 100%;
    background-color: #cde8e5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 0px;
    width: 100%;
}

.mainbuttongroup {
    position: absolute;
    /* background-color: black; */
    bottom: 40%;
}

.image-content{
    position: relative;
    margin-left: 2%;
}
.indexpic {
    width: 700px;
    height: 400px;
}
.bottombar {
    background-color: #d3f1f1;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: auto; /* Pushes the footer to the bottom */
    position: relative;
}

.Content {
    background-color: #ffffff; 
    display: flex;
    flex-direction: row;
    color: black;
    font-family: "Kanit", sans-serif;
    text-align: left;
    font-size: 26px;
    padding-left: 10%;
    padding-top: 5%;
    margin-top: 2%;
    position: relative;

}

@media (max-width: 450px) {
   

    .Webcontainer {
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width: 100%;
    }
    .Content {
        display: inline-block;
        max-width: 375px;
        padding-left: 5%;
        height: auto;
        font-size: 20px;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    .image-content{
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
    }
    .indexpic {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
        height: 60%;
    }
    .bottombar{
        width: 100%;
        margin-top: auto;
        padding-left: 4%;
        padding-bottom: 10%;
        margin-bottom: 0;
    }

    p {
        width: 320px;
    }
    .clocktest {
        display: none;
    }

}
/* @media screen and (max-width: 1920px) {
    .bottombar{
        width: 100%;
        margin-top: auto;
    }
} */
    


.ContentButtonGroup {
    /* background-color: rgb(87, 87, 150); */
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 120px;
    margin-bottom: 100px;
}

.box {
    width: 20px;
    height: 20px;
    background-color: blue;
}

.Start {
    background-color: rgb(0, 0, 0);
    border: 1px solid transparent;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 11px;
    padding: 30px 30px 30px 30px;
    margin-right: 50px;
    justify-content: space-between;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
}

.Start2 {
    background-color: rgb(88, 193, 235);
    border: 1px solid transparent;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 11px;
    padding: 20px 20px 20px 20px;
    margin-right: 25px;
    justify-content: space-between;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
}

.Quizbutton {
    /* background-color: rgb(88, 193, 235); */
    border: 1px solid transparent;
    text-align: center;
    color: #ffffff;
    padding-top: 15px;
    border-radius: 11px;
    width: 120px;
    height: 80px;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
}


          /* Aboutus page */

.maincontainer {
  width: 100%;
  padding: 0;
  margin-top: 2%;
}

.Textmain {
  font-family: "Kanit", sans-serif;
  font-size: 3rem;
  padding-left: 44%;
}

.imggroup {
  padding-right: 5%;
}

.picturegroup {
margin-left: 18%;
}

.detailmain {
  display: flex;
  flex-direction: row;
  margin-left: 18%;
}
.detailtext1 {
  font-family: "Kanit", sans-serif;
  margin-top: 1.5%;
  margin-bottom: 4%;
  font-size: 1.5rem;
  position: relative;
  background-color: rgb(214, 208, 208);
  width: 23%;
}

.detailtext2 {
  font-family: "Kanit", sans-serif;
  margin-top: 1.5%;
  margin-bottom: 4%;
  font-size: 1.5rem;
  position: relative;
  background-color: rgb(214, 208, 208);
  width: 23%;
  margin-left: 4%;
}

.detailtext3 {
  font-family: "Kanit", sans-serif;
  margin-top: 1.5%;
  margin-bottom: 4%;
  font-size: 1.5rem;
  position: relative;
  background-color: rgb(214, 208, 208);
  width: 23%;
  margin-left: 6%;
}

@media (max-width: 450px) {
   

  .maincontainer {
      display: flex;
      flex-direction: column;
      max-width: 100%;
  }

  .detailmain {
    display: flex;
      flex-direction: column;
      width: 100%;
      left: 0;
      margin-left: 0;
  }
    .detailtext1 {
      background-color: white;
      margin-left: 3%;
    }
    
    .detailtext2 {
      background-color: white;
    }
    .detailtext3 {
      background-color: white;
    }
  .imggroup {
    margin-left: 1%;
  }

  .Textmain {
     padding-left: 20%;
  }

  .picturegroup {
    margin-left: 2%;
  }

  .Topmenu {
    width: 100%;
  }
}