* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Head {
    color: rgb(0, 0, 0);
    font-size: 3em;
    font-family: monospace;
    text-align: left;
    padding-left: 5%;
    font-family: "Bruno Ace", sans-serif;

}

p {
    width: 900;
}



.Webcontainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.Topmenu {
    height: 100%;
    background-color: #cde8e5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 0px;
    width: 100%;
}

.mainbuttongroup {
    position: absolute;
    bottom: 45%;
    left: 8%;
    font-size: 1.4rem;
    margin-top: 2vh;
    max-width: 100%;
    padding-left: 4vh;
}

.image-content{
    position: absolute;
    left: 60%;
    top: 35%;
}
.indexpic {
    width: 700px;
    height: 400px;
}
.bottombar {
    background-color: #d3f1f1;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: auto; /* Pushes the footer to the bottom */
    position: relative;
}

.Content {
    background-color: #ffffff; 
    display: flex;
    flex-direction: row;
    color: black;
    font-family: "Kanit", sans-serif;
    text-align: left;
    font-size: 26px;
    padding-left: 10%;
    padding-top: 5%;
    margin-top: 2%;
    position: relative;
    box-sizing: border-box;
    height: 60vh;
}

/* small phone optimize */
/* small phone optimize */
/* small phone optimize */
/* small phone optimize */

@media screen 
  and (max-width: 364px) {

    .Content {
    flex-direction: row;
    max-width: 100vh;
    padding-left: 3vh;
    padding-right: 3vh;
    font-size: 1.6rem;
  }
  .image-content{
    position: relative;
    max-width: 100%;
    left: 0;
    margin-top: 5vh;
    margin-bottom: 2%;
    height: auto;
}
.indexpic {
    display: block;
    width: 25vh;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.bottombar{
    width: 100%;
    padding-left: 1%;
    padding-bottom: 10%;
    margin-top: auto;
    position: relative;
    bottom: 0;
}

p {
    width: 100%;
}
.mainbuttongroup {
  position: relative;
  left: 0;
  margin-top: 2vh;
  max-width: 100%;
  padding-left: 3vh;
}
}

/* Normal phone optimize */
/* Normal phone optimize */
/* Normal phone optimize */
/* Normal phone optimize */

@media screen 
      and (max-width: 450px) 
      and (min-width: 365px) 
      {

  html {
    max-height: 100vh;
    margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

    .Topmenu {
      width: 100%;
    }
    .Content {
        flex-direction: row;
        max-width: 100vh;
        padding-left: 3vh;
        padding-right: 3vh;
        font-size: 1.6rem;
        height: auto;
        margin-bottom: 8vh;
    }

    .image-content{
        position: relative;
        max-width: 100%;
        left: 0;
        margin-top: 5vh;
        margin-bottom: 2%;
        height: auto;
    }
    .indexpic {
        display: block;
        width: 25vh;
        height: auto;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .bottombar{
        width: 100%;
        padding-left: 1%;
        padding-bottom: 10%;
        margin-top: auto;
        position: relative;
        bottom: 0;
    }

    p {
        width: 100%;
    }

    .mainbuttongroup {
      position: relative;
      left: 0;
      margin-top: 2vh;
      max-width: 100%;
      padding-left: 4vh;
    }

}


@media only screen and (max-width: 1920px) {
    .Content{
       display: flex;
       flex-direction: column;
    }
} 

/* Ipad and Tablet*/
/* Ipad and Tablet*/
/* Ipad and Tablet*/
/* Ipad and Tablet*/

@media screen 
  and (max-width: 1380px)
  and (min-width: 460px)
  {
  html {
    max-height: 100%;
    margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

    .Topmenu {
      width: 100%;
    }
    .Content {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding-left: 5vh;
        padding-right: 5vh;
        min-height: 10vh;
        font-size: 2rem;
        margin-bottom: 5vh;
        height: 20%;
    }

    .image-content{
        position: relative;
        left: 0%;
        flex-grow: 1;
        margin-top: 8%;
        margin-bottom: 2%;
        height: auto;
    }
    .indexpic {
        display: block;
        width: 50%;
        height: auto;
        position: relative;
        margin-left: 25%;
    }
    .bottombar{
        width: 100%;
        padding-left: 5%;
        padding-bottom: 10%;
        margin-top: auto;
        position: relative;
        bottom: 0;
    }

    p {
        width: 100%;
    }

    .mainbuttongroup {
      position: relative;
      max-width: 100%;
      left: 0;
      margin-left: auto;
      margin-right: 0;
      flex-grow: 1;
    }
}
    


.ContentButtonGroup {
    /* background-color: rgb(87, 87, 150); */
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 120px;
    margin-bottom: 100px;
}

.box {
    width: 20px;
    height: 20px;
    background-color: blue;
}

.Start {
    background-color: rgb(0, 0, 0);
    border: 1px solid transparent;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 11px;
    padding: 30px 30px 30px 30px;
    margin-right: 50px;
    justify-content: space-between;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
}

.Start2 {
    background-color: rgb(88, 193, 235);
    border: 1px solid transparent;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 11px;
    padding: 20px 20px 20px 20px;
    margin-right: 25px;
    justify-content: space-between;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
}

.Quizbutton {
    /* background-color: rgb(88, 193, 235); */
    border: 1px solid transparent;
    text-align: center;
    color: #ffffff;
    padding-top: 15px;
    border-radius: 11px;
    width: 120px;
    height: 80px;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
}


          /* Aboutus page */
          /* Aboutus page */
          /* Aboutus page */
          /* Aboutus page */
          /* Aboutus page */
          /* Aboutus page */
.maincontainer {
  width: 100%;
  padding: 0;
  margin-top: 2%;
}

.Textmain {
  font-family: "Kanit", sans-serif;
  font-size: 4rem;
  padding-left: 42%;
  margin-bottom: 2%;
}

.imggroup {
  padding-right: 0;
}

.picturegroup {
  display: flex;
  flex-direction: row;
  padding-left: 18%;
}

.group1 {
  flex-direction: column;
  margin-right: 5%;
}

.group2 {
  flex-direction: column;
  margin-right: 5%;
}

.group3 {
  flex-direction: column;
  margin-right: 5%;
}

.detailtext1 {
  font-family: "Kanit", sans-serif;
  margin-top: 1.5%;
  margin-bottom: 4%;
  font-size: 1.5rem;
  position: relative;
  background-color: rgb(214, 208, 208);
  width: 100%;
}

.detailtext2 {
  font-family: "Kanit", sans-serif;
  margin-top: 1.5%;
  margin-bottom: 4%;
  font-size: 1.5rem;
  position: relative;
  background-color: rgb(214, 208, 208);
  width: 100%;
}

.detailtext3 {
  font-family: "Kanit", sans-serif;
  margin-top: 1.5%;
  margin-bottom: 4%;
  font-size: 1.5rem;
  position: relative;
  background-color: rgb(214, 208, 208);
  width: 100%;
}

/*about us*/
@media (max-width: 450px) {
   

  .maincontainer {
      display: flex;
      flex-direction: column;
      max-width: 100%;
  }

  .Topmenu {
    width: 100%;
  }
    .detailtext1 {
      background-color: white;
      margin-left: 3%;
    }
    
    .detailtext2 {
      background-color: white;
    }
    .detailtext3 {
      background-color: white;
    }
  .imggroup {
    margin-left: 1%;
  }

  .picturegroup {
    display: flex;
    flex-direction: column;
    padding-left: 1%;
  }

  .Textmain {
     padding-left: 10%;
  }

  .picturegroup {
    margin-left: 2%;
  }

  .Topmenu {
    width: 100%;
  }
}

@media screen 
    and (max-width: 1050px)
    and (min-width: 500px) {
    .picturegroup {
      padding-left: 1%;
      display: flex;
      flex-direction: column;
    }

    .Textmain {
      padding-left: 36.5%;
    }

    .imggroup {
      padding-left: 35%;
    }

    .detailtext1 {
      background-color: grey;
      margin-left: 35%;
      width: 37%;
    }
    
    .detailtext2 {
      background-color: gray;
      margin-left: 35%;
      width: 37%;
    }
    .detailtext3 {
      background-color: grey;
      margin-left: 35%;
      width: 37%;
    }
}

 /* ipad pro */
 /* ipad pro */
 /* ipad pro */
@media screen 
    and (max-width: 1400px)
    and (min-width: 1280px) {
    .picturegroup {
      padding-left: 1%;
      display: flex;
      flex-direction: column;
    }

    .Textmain {
      padding-left: 40.5%;
    }

    .imggroup {
      padding-left: 40%;
    }

    .detailtext1 {
      background-color: grey;
      margin-left: 40%;
      width: 28%;
    }
    
    .detailtext2 {
      background-color: gray;
      margin-left: 40%;
      width: 28%;
    }
    .detailtext3 {
      background-color: grey;
      margin-left: 40%;
      width: 28%;
    }

    .bottombar{
      font-size: 2rem;
  }
}

/* ipad mini */

@media screen 
    and (max-width: 850px)
    and (min-width: 730px) {
    .picturegroup {
      padding-left: 1%;
      display: flex;
      flex-direction: column;
    }

    .Textmain {
      padding-left: 30.5%;
    }

    .imggroup {
      padding-left: 30%;
    }

    .detailtext1 {
      background-color: grey;
      margin-left: 30%;
      width: 49%;
    }
    
    .detailtext2 {
      background-color: gray;
      margin-left: 30%;
      width: 49%;
    }
    .detailtext3 {
      background-color: grey;
      margin-left: 30%;
      width: 49%;
    }

    .bottombar{
      font-size: 2rem;
  }
}