* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.NameTest {
    font-family: "Kanit", sans-serif;
    font-size: 36px;
}

.topbutton {
    display: flex;
    flex-direction: row;
}

.next {
    color: #000000;
    text-decoration: underline;
    font-family: "Kanit", sans-serif;
    padding-top: 25px;
    margin-right: 50px;
}

.Topmenu {
    height: 150px;
    background-color: #CDE8E5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 0px;
    width: 100%;
}

.returnbutton {
    background-color: rgb(0, 0, 0);
    border: 1px solid transparent;
    text-align: center;
    color: #ffffff;
    border-radius: 11px;
    padding-top: 25px;
    margin-right: 10px;
    width: 120px;
    height: 80px;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
}

.Head {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: monospace;
    text-align: left;
    padding-left: 15px;
    font-family: "Bruno Ace", sans-serif;

}

.body {
    font-family: "Kanit", sans-serif;;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(237, 237, 237);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e6e6e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Kanit", sans-serif;
    text-align: left;
    font-size: 18px;
}
.question {
    margin-bottom: 20px;
}
.question h3 {
    margin: 0 0 10px;
}
.options label {
    display: block;
    margin-bottom: 10px;
}
.btn {
    display: inline-block;
    background-color: #28a745;
    color: #000000;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 3px;
    text-decoration: none;
}
.Resultst {
    margin-top: 20px;
    font-weight: bold;
    background-color: #66d3c6;
    text-align: center;
    font-size: 28px;
}

.bottombar {
    background-color: #CDE8E5;
    bottom: 100%;
    height: 150px;
    font-family: "Bruno Ace", sans-serif;
}

.correct {
    color: rgb(0, 0, 0);
    background-color: rgb(117, 204, 164);

}
.incorrect {
    color: rgb(0, 0, 0);
    background-color: rgb(240, 112, 137);
}

#result {
    padding-top: 1px; 
    margin-top: -1px;
}

.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.hidden {
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

@media (max-width: 450px) {
    .next {
        display: none;
    }
}